 <div class="container firma">
        <div class="col-12 firma__full">
            <div class="firma__text">
                <label class="firma__label"><span class="firma__span">O firmie</span></label>
                <h1 class="firma__text--title"><span>Tworzymy z</span> 
                     <span class="firma__text--span">pasją </span></h1>
                    <p class="firma__text--paragraph">
                        Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani projektanci oraz architekci, których zadaniem jest rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do współczesnego trybu życia.
                    </p>
                    <button class="btn btn--whiteW btn__firma">Poznaj nas bliżej 
                      <svg class="white_arrow"><use class="white_arrow--white" xlink:href="#white_arrow"></use></svg>
                    </button>
            </div>
           
        </div>
        <div class="col-6 firma__picture">
            <img class="firma__img" src="assets/img/pictures_for_content/hs.png" alt="house">
        </div>
    </div>
     