 <div class="container footer">
            <div class="footer__full">
                <div class="col-12 footer__text">
                    <div class="col-6 footer__logo">
                        <object class="footer_item--img" data="assets/img/icons/logo.svg"></object>
                    </div>
                    <div class="col-6 footer__contact">
                        <div class="col-3 footer__contact--text">
                            <p>
                                
                            Daj znać, co możemy dla Ciebie zrobić!
                        </p>
                        </div>
                        <div class="col-3 btn btn__footer">
                            <button class="btn btn--green__backlight ">Skontaktuj się z nami</button>
                        </div>
                    </div>
                </div>
                <hr class="horizontal_f" style="color:#F5F0EC">
                <div class="col-12 footer__basement">
                    <div class="col-8 socials">
                      
                        <ul>
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">LinkedIn</a></li>
                         
                        </ul>
                    </div>
                    <div class="col-4 phone">
                        <ul>
                            <li>000-000-000</li>
                            <li>giarddesign@kontakt.pl</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-12 footer__copyright">
                    <div class="col-6 prawa">
                        Prawa zastrzeżone © 2022
                    </div>
                    <div class="col-6 rights">
                    <div class="col-3 base__made">
                       
                            made by
                       
                    </div>
                    <div class="col-3 base__logo">
                        <object class="footer_item--img" data="assets/img/icons/adRespect.svg"></object>
                    </div>
                </div>
                </div>
            </div>
         
        </div> 