
    <div class="container header__inner">
        <nav clas="navbar">
            <div class="row ">
                <div class="col-5">
                    <div class="header__logo">
                        <svg class="intro__logotype">
                            <use class="intro__logotype__svg" xlink:href="#logo"></use>
                        </svg>
                    </div>
                </div>
                <div class="col-5">
                  
                    <ul class="nav-menu">
                        <li class="nav-item "><a class="nav__link " >Oferta</a></li>
                        <li class="nav-item"><a class="nav__link" >O firmie</a></li>
                        <li class="nav-item"><a class="nav__link" >Realizacje</a></li>
                        <li class="nav-item"><a class="nav__link" >Kontakt</a></li>
                       
                         
                        
                      
                        
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                       
                  
                </div>
                <div class="col-2 search_bar">
                    <input class="custom__input" type="text">

                    
                    <div class="search">
                         
                         <svg class="search__svg">
                            <use xlink:href="#lense"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </nav>
       
    </div>
   
