<div class="container intro">
    <div class="col-12 intro__full">
        <div class="intro__text">
            <h1 class="intro__text--title"><span>Nowoczesna</span> <span>aranżacja</span>
                Twojego ogrodu </h1>
                <p class="intro__text--paragraph">
                    Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji. Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.
                </p>
                <div class="intro__buttons">
              
                    <button class="btn btn--green__back ">Skontaktuj się z nami</button>
                    <button class="btn btn--green ">Zobacz nasze realizacje
                        <svg class="btn__arrow"><use xlink:href="#arrow_green_down"></use></svg>
                    </button>
                </div>
        </div>
      
       
    </div>
    <div class="col-6 intro__picture slider_item ">
        <img class="intro__img" src="assets/img/pictures_for_content/scz.png" alt="garden">
       
    </div>
    <div class="col-6 intro__picture slider_item">
        <img class="intro__img" src="assets/img/pictures_for_content/2.jpg" alt="garden">
       
    </div>

        <div class="container intro__arrows">
            <div class="col-6 prev">
                <div class="intro__arrows--left"> 
                    <svg class="arrow_left">
                        <use xlink:href="#arrow_left"></use>
                    </svg>
                   
                </div>
            </div>
            
            <div class="col-6 next">
                <div class="intro__arrows--right"> 
                    <svg class="arrow_right">
                        <use xlink:href="#arrow_right"></use>
                    </svg>
                    
                </div>
                
               
               
            </div>
          
        </div>
</div>