<div class="container oferta">
        <div class="col-12 oferta__full">
            <div class="oferta__textfull">
                <label class="ofert__label"><span class="oferta__span">Oferta</span></label>
                <h1 class="oferta__text--title">Działamy <span class="oferta__span-title">kompleksowo</span>
                   </h1>
                    <p class="oferta__text--paragraph">
                        Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie posłużymy radą i wieloletnim doświadczeniem. 
                    </p>
                    
                  
            
            </div>

            <div class="oferta__services">
                <div class="row oferta__column">
                    <div class="col-4">
                        <div class="oferta__item">
                            
                                <object class="oferta__item--img" data="assets/img/icons/pencil.svg"></object>
                                <div class="oferta__text">
                                    <h1 class="oferta__text_main">
                                        Projekty
                                    </h1>
                                    <p class="oferta__text_paragraph">
                                        Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym wykorzystaniem istniejącej przestrzeni.
                                    </p>
                                </div>
                                <div class="oferta_wrapper">
                           <a class="oferta__link">
                            Dowiedz się więcej
                            <svg class="oferta__arrow">
                                <use  xlink:href="#arrow_side"> </use>
                            </svg> 
                         
                           </a>
                        </div>
                        </div>
                    </div>    

                    <div class="col-4">
                        <div class="oferta__item">
                            
                            <object class="oferta__item--img" data="assets/img/icons/eye.svg"></object>
                         <div class="oferta__text">
                                    <h1 class="oferta__text_main">
                                        Wizualizacje
                                    </h1>
                                    <p class="oferta__text_paragraph">
                                        Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru animowanego w technologii 3D.
                                    </p>
                                </div>
                                <div class="oferta_wrapper">
                                <a class="oferta__link">
                                    Dowiedz się więcej
                                    <svg class="oferta__arrow">
                                        <use  xlink:href="#arrow_side"> </use>
                                    </svg>
                                
                                   </a>
                                </div>
                                
                          </div>
                    </div>    

                    <div class="col-4">
                        <div class="oferta__item">
                            
                            <object class="oferta__item--img" data="assets/img/icons/stars.svg"></object>
                            <div class="oferta__text">
                                <h1 class="oferta__text_main">
                                    Realizacje
                                </h1>
                                <p class="oferta__text_paragraph">
                                    Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i zaawansowanych technologii.  
                                </p>
                            </div>
                            <div class="oferta_wrapper">
                            <a class="oferta__link">
                                Dowiedz się więcej
                                <svg class="oferta__arrow">
                                    <use  xlink:href="#arrow_side"> </use>
                                </svg>
                            
                               </a>
                            </div>
                        </div>
                    </div>  

                 </div> 
            </div>  
           
        </div>
        
    </div>