<div class="container realization">
        <div class="realization__full">
            <div class="realization__text">
                <label class="realization__label"><span class="realization__span">Realizacje</span></label>
                <h1 class="realization__text--title">Nasze <span class=realization__title--span>projekty</span>
                   </h1>
                
                    
                  
             </div>
            </div>
            <div class="grid">
                <div class="grid-item">
                    <img id="myImg" class="layout__img" src="assets/img/pictures_for_content/garden_1.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img" src="assets/img/pictures_for_content/garden_2.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img " src="assets/img/pictures_for_content/garden_3.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img" src="assets/img/pictures_for_content/garden_4.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img" src="assets/img/pictures_for_content/garden_5.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img " src="assets/img/pictures_for_content/garden_6.png">
                   
                </div>
                <div class="grid-item">
                    <img class="layout__img" src="assets/img/pictures_for_content/garden_7.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img" src="assets/img/pictures_for_content/garden_8.png">
                </div>
                <div class="grid-item">
                    <img class="layout__img " src="assets/img/pictures_for_content/garden_9.png">
                   
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/6.png">
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/7.png">
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/8.png">
                   
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/6.png">
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/7.png">
                </div>
                <div class="grid-item default--state">
                    <img class="layout__img " src="assets/img/pictures_for_content/8.png">
                   
                </div>
               
            </div>
            <div class="col-12 realiz__btn">
            <button class="btn btn--black ">Rozwiń<svg class="btn__arrow"><use xlink:href="#arrow_black_down"></use></svg></button>
            </div>
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>
               
            
        
                <!-- Modal Content (The Image) -->
                <div class="container">
                    <div class="row row_modal">
                        <div class="col-2 prev__modal">
                            <div class="modal__arrows--left"> 
                              <svg class="modal_arrow_left">
                                  <use xlink:href="#arrow_left"></use>
                              </svg>
                             
                          </div>
                      </div>
                        <img class="col-8 modal-content" id="img01">

                        <div class="col-2 next__modal">
                            <div class="modal__arrows--right"> 
                                <svg class="modal_arrow_right">
                                    <use xlink:href="#arrow_right"></use>
                                </svg>
                                
                            </div>
                    </div>
                </div>
                
                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
              </div>
        </div>
         
           
        </div> 
        