$white: rgb(248, 245, 245);
$green: rgb(40, 201, 18);
$black: #121212;
$gray: #e6dfdff6;
$gray-dark: #a1a1a1ab;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rba(0, 0, 0, .05);
$fontSizeMediaS: 0.7rem;  
$fontSizeMediaM: 0.8rem;  
$fontSizeMediaL: 0.9rem;  
$fontSizeMediaDef: 1rem;  

$pictureWidth:408px;
$pictureHeight:621px;
//scale
$SizeM: 0.52;
$NormalScale:1440px;

//bootstrap Modal

$modal-backdrop-bg: #102c68;
$modal-backdrop-opacity: .9 ;